a {
  text-decoration: none;
  transition: var(--hover-transition);
  color: var(--gray);
}

a:link,
a:visited {
  transition: color .15s ease-in;
}

a:hover {
  background-color: var(--highlight);
  transition: color .15s ease-in;
}

a:active {
  transition: color .15s ease-in;
}

a:focus {
  transition: color .15s ease-in;
  outline: 1px dotted currentColor;
}
